## Домашнее задание 6

### Взаимосвязь величин. Параметрические и непараметрические показатели корреляции. 

### Корреляционный анализ

#### 1. Доходность двух активов за 8 периодов представлена в таблице:

In [244]:
import pandas as pd

In [245]:
tabledata = [[1, 12, 14],
         [2, 10, 18],
         [3, 10, 13],
         [4, 8, 10],
         [5, -5, 12],
         [6, -3, -7],
         [7, 10, -2],
         [8, 7, 10]]

In [246]:
df = pd.DataFrame(tabledata, columns=["Периоды","Доходность актива Х", "Доходность актива Y"])
df

   Периоды  Доходность актива Х  Доходность актива Y
0        1                   12                   14
1        2                   10                   18
2        3                   10                   13
3        4                    8                   10
4        5                   -5                   12
5        6                   -3                   -7
6        7                   10                   -2
7        8                    7                   10

#### Определить коэффициент корреляции доходностей активов X и У.

Для определения коэффициента корреляции воспользуемся методом **corr** из **библиотеки pandas**:

In [247]:
corr_matrix = df.loc[:, ['Доходность актива Х', 'Доходность актива Y']].corr()
corr_matrix

                     Доходность актива Х  Доходность актива Y
Доходность актива Х             1.000000             0.396721
Доходность актива Y             0.396721             1.000000

Получили матрицу корреляций. Корреляция между доходностью актива Х и доходностью актива Y не высока и имеет величину, почти равную 0.4:

In [248]:
corr_matrix.loc['Доходность актива Х', 'Доходность актива Y']

0.39672063405755487

#### 2. Дана корелляционная  таблица случайного вектора (X,Y). Вычислите ковариацию cov(X,Y).

In [249]:
tabledata = [[-2, 0.1, 0, 0.2],
         [0, 0.05, 0.2, 0],
         [1, 0, 0.2, 0.05],
         [7, 0.1, 0, 0.1]]

In [250]:
df = pd.DataFrame(tabledata, columns=["X/Y","-6", " 0", "3"])
df.set_index("X/Y", inplace=True)
df

       -6    0     3
X/Y
-2   0.10  0.0  0.20
 0   0.05  0.2  0.00
 1   0.00  0.2  0.05
 7   0.10  0.0  0.10

Найдем ряд распределения случайной величины Y

In [251]:
Y = df.sum()
Y = Y.reset_index(name="$p_i$")
Y['index'] = Y['index'].astype(int)
Y.rename(columns={'index': 'Y'}, inplace=True)
Y

   Y  $p_i$
0 -6   0.25
1  0   0.40
2  3   0.35

Определим математическое ожидание случайной величины Y

In [252]:
MY = (Y['$p_i$']*Y['Y']).sum()
MY

-0.4500000000000002

Определим дисперсию случайной величины Y

In [253]:
DY = (Y['$p_i$']*(Y['Y']-MY)**2).sum()
DY

11.947500000000002

Определим среднеквадратичное отклонение случайной величины Y

In [254]:
sqrDY = DY**(1/2)
sqrDY

3.456515586540874

Найдем ряд распределения случайной величины X

In [255]:
X = df.T.sum()
X = X.reset_index(name="$p_i$")
X['X/Y'] = X['X/Y'].astype(int)
X.rename(columns={'X/Y': 'X'}, inplace=True)
X

   X  $p_i$
0 -2   0.30
1  0   0.25
2  1   0.25
3  7   0.20

Определим математическое ожидание случайной величины X

In [256]:
MX = (X['$p_i$']*X['X']).sum()
MX

1.05

Определим дисперсию случайной величины Y

In [257]:
DX = (X['$p_i$']*(X['X']-MX)**2).sum()
DX

10.1475

Определим среднеквадратичное отклонение случайной величины X

In [258]:
sqrDX = DX**(1/2)
sqrDX

3.1855140872392953

In [259]:
i_,j_ = df.shape
XY = [df.iloc[i,j]*X["X"][i]*Y["Y"][j] for i in range(0,i_) for j in range(0,j_)]
MXY = sum(XY)
MXY

-1.9499999999999997

__Определим ковариацию__

In [260]:
covXY = MXY - MX*MY
covXY

-1.4774999999999996

__Сведем все  данные в таблицу__

In [265]:
res = pd.DataFrame({
    '$M\left( X \right)$':[MX],
    '$M\left( Y \right)$':[MY],
    '$D\left( X \right)$':[DX],
    '$D\left( Y \right)$':[DY],
    '${\sigma _x}$':[sqrDX],
    '${\sigma _y}$':[sqrDY],
    '$M\left( {XY} \right)$':[MXY],
    '$co{v_{XY}}$':[covXY] 
})


res

   $M\left( X \right)$  $M\left( Y \right)$  $D\left( X \right)$  $D\left( Y \right)$  ${\sigma _x}$  ${\sigma _y}$  $M\left( {XY} \right)$  $co{v_{XY}}$
0                 1.05                -0.45              10.1475              11.9475       3.185514       3.456516                   -1.95       -1.4775

#### 3. Определите коэффициент корреляции из № 2.

__Определим коэффициент Определим коэффициент__

In [267]:
r = covXY/(sqrDX*sqrDY)
r

-0.1341866899179701

#### 4. Приведите примеры положительной корелляции из практики (5 примеров).

#### 5. Приведите примеры отрицательной корелляции  из практики (5 примеров).